.section-heading {

}
.section-subtitle,
.section-title,
.section-lead {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.section-subtitle {
  @include upperspace;
  color: $digital-blue-light;
  font-weight: $font-weight-strong;
}
