.service-icons-list,
.process-items-list,
.featured-posts-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  flex-wrap: wrap;
  @include bp(md) {
    flex-wrap: nowrap;
  }
}

.featured-post {
  padding: 10px;
}

.featured-post h5 {
  font-weight: $font-weight-strong;
}

.service-icon,
.process-item {
  display: flex;
  flex-direction: column;
}

.service-icons-list {
  display: flex;
}

.service-icon {
  text-align: center;
  flex: 1 200px;
  padding: 50px;
  &:hover {
    transition: box-shadow .3s ease-out;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .1),
                0 8px 8px rgba(0, 0, 0, .1),
                0 16px 16px rgba(0, 0, 0, .1),
                0 32px 32px rgba(0, 0, 0, .15),
                0 64px 64px rgba(0, 0, 0, .15);
  }
  &:hover .service-icon-btn {
    background: $digital-blue-light;
    color: $utility-white;
  }
}

.service-icon-img {
  display: flex;
  justify-content: center;
}

.service-icon-title {
  font-weight: $font-weight-strong;
}

.service-icon-btn {
  border: 1px solid $digital-blue-light;
  border-radius: 40px;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
}

.service-icon-text {
  font-size: $size-xsml;
}


// Process Items

.process-items-list {
  flex-wrap: wrap;
}

.process-item {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  @include bp(md) {
    width: 50%;
  }
}

.process-item-title {
  color: $digital-blue-light;
  font-weight: $font-weight-strong;
}

.process-item-text {
}



// Section Styles

.front-page-section {
  padding-bottom: 40px;

  &.-gray {
    background-color: #f8f8f8;
  }
}

.front-page-section-title {
  padding-bottom: 50px;
}

.front-page-section-title,
.front-page-section-subtitle {
  text-align: center;
  font-weight: $font-weight-base;
}

.front-page-section-subtitle {
  padding-top: 50px;
  @include upperspace;
  color: $digital-blue-light;
  font-weight: $font-weight-strong;
}
